<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="rabbit.hostname" value="localhost" />
    <add key="rabbit.username" value="guest" />
    <add key="rabbit.password" value="guest" />
    <add key="rabbitual.sink" value="rabbitual.sink" />
    <add key="rabbitual.filedb.folder" value="c:\temp\rabbitual-repo" />

    <add key="from-email" value="example@domain.com" />
    <add key="to-email" value="example@domain.com" />

    <add key="home-lat" value="0.0" />
    <add key="home-lon" value="0.0" />

  </appSettings>

  <system.net>
    <mailSettings>
      <smtp from="example@domain.com" deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" enableSsl="true" userName="example@domain.com" password="example" />
      </smtp>
    </mailSettings>
  </system.net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
