<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rabbit.hostname" value="localhost"/>
    <add key="rabbit.username" value="guest"/>
    <add key="rabbit.password" value="guest"/>
    <add key="rabbitual.sink" value="rabbitual.sink"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>